<nav class="navbar navbar-expand-lg  flex items-center justify-between flex-wrap bg-teal-500 p-2">
  <svg class="fill-current h-8 w-8 mr-2" width="54" height="54" viewBox="0 0 54 54" xmlns="http://www.w3.org/2000/svg"><path d="M13.5 22.1c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05zM0 38.3c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05z"/></svg>
  <a class="text-4xl text-indigo-400 font-bold uppercase mr-4 mt-3 " >CRUD</a>
  <!-- <a class="navbar-brand">CRUD</a> -->
  <div id="navbarNav" class="collapse navbar-collapse">
    <ul class="flex flex-row mt-3 text-xl">
      <!-- <li class="nav-item">
        <a href="#responsive-header" class="nav-link" routerLinkActive="active" routerLink="/employee-list">Show Employees</a>
      </li> -->
      <!-- <li class="nav-item">
        <a href="#responsive-header"class="nav-link" routerLinkActive="active" routerLink="/add-employee">Add Employee</a>
      </li> -->
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>