<div class="container">

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h2 class="h2">Employees List</h2>
        <div class="flex ">
          <div class="mb-3 ">
            <div class="input-group relative flex flex-wrap items-stretch w-full pt-3 mb-2">
              <input type="search" class="form-control relative flex-auto min-w-0 block w-full  px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"  placeholder="Search" aria-label="Search" aria-describedby="button-addon2" [(ngModel)]="term">
              <button class="btn inline-block px-6 py-2.5 bg-teal-500 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:border-teal-700 hover:shadow-lg focus:bg-blue-700  focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out flex items-center" type="button" id="button-addon2">
                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="search" class="w-4" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                  <path fill="currentColor" d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"></path>
                </svg>
              </button>
          </div>
        </div>&nbsp;&nbsp;&nbsp;
        <div class="pt-3">
          <button class="btn inline-block px-6 py-2.5 bg-teal-500 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:border-teal-700 hover:shadow-lg focus:bg-blue-700  focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out flex items-center" type="button" routerLink="/add-employee">Add Employee</button>
        </div>
        </div>
    </div>
    
    <div class="table-responsive">
      <table class="table table-bordered ">
        <thead>
          <tr class="bg-gray-200 ">
            <!-- <th scope="col">Employee No</th> -->
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email ID</th>
            <th scope="col">Position</th>
            <th scope="col">Salary</th>
            <th scope="col">Mobile No</th>
            <th scope="col">City</th>
            <th scope="col">State</th>
            <th class="text-center" scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let employee of Employees  | paginate : {
            itemsPerPage: pageSize,
            currentPage: page,
            totalItems: count
          }| filter : term;  let i = index ">
            <!-- <th scope="row">{{i}}</th> -->
            <td>{{employee.firstName}}</td>
            <td>{{employee.lastName}}</td>
            <td>{{employee.emailId}}</td>
            <td>{{employee.position}}</td>
            <td>{{employee.salary}}</td>
            <td>{{employee.contactNo}}</td>
            <td>{{employee.city}}</td>
            <td>{{employee.state}}</td>
           <td class="text-center">
              <button class="btn btn-sm  bg-teal-500 text-white" routerLink="/edit-employee/{{employee._id}}">Edit</button>&nbsp;&nbsp;
              <button class="btn btn-sm btn-danger" (click)="delete(employee._id,i)">Delete</button>
          </tr>
        </tbody>
      </table>
      <div class="col-md-12 ">
        <pagination-controls
          previousLabel="Prev"
          nextLabel="Next"
          [responsive]="true"
          (pageChange)="handlePageChange($event) "
        ></pagination-controls>
      </div>
    
    </div>
  </div>