<div class="row justify-content-center mt-5">
    <!-- Registration Form -->

    <div class="col-md-4">
        <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
          <h2 class="h2">Employee Details Form</h2>
            <hr>
            <br>
            <div class="flex flex-wrap -mx-3 ">
          <div class="form-group md:w-1/2 px-3 mb-6 ">
            <label>First Name <span class="text-red-700">*</span></label>
            <input class="form-control" type="text" formControlName="firstName"  
              placeholder="Enter First Name">
              <div *ngIf="f['firstName'].touched && f['firstName'].invalid" class="alert alert-danger">
                <div *ngIf="f['firstName'].errors && f['firstName'].errors['required']">First Name is required</div>
                <div *ngIf="f['firstName'].errors && f['firstName'].errors['pattern']">Only alphabets allowed</div>
              </div>
          </div>
  
          <div class="form-group  md:w-1/2 px-3 ">
            <label>Last Name <span class="text-red-700" >*</span></label>
            <input class="form-control" type="text" formControlName="lastName" placeholder="Enter Last Name">
            <div *ngIf="f['lastName'].touched && f['lastName'].invalid" class="alert alert-danger">
                <div *ngIf="f['lastName'].errors && f['lastName'].errors['required']">Last Name is required</div>
                <div *ngIf="f['lastName'].errors && f['lastName'].errors['pattern']">Only alphabets allowed</div>
              </div>
          </div>
          </div>

        <div class="form-group">
            <label>Email ID <span class="text-red-700" >*</span></label>
            <input class="form-control" type="text" formControlName="emailId"  placeholder="Enter Email ID">
            <div *ngIf="f['emailId'].touched && f['emailId'].invalid" class="alert alert-danger">
              <div *ngIf="f['emailId'].errors && f['emailId'].errors['required']">Email is required</div>
              <div *ngIf="f['emailId'].errors && f['emailId'].errors['email']">Email format should be <small><b>joe@abc.com</b></small></div>
          </div>
          </div>

          <div class="form-group">
            <label>Date Of Birth <span class="text-red-700">*</span></label>
            <input class="form-control" type="date" formControlName="dateofbirth"  placeholder="Enter Date Of Birth" >
            <div *ngIf="f['dateofbirth'].touched && f['dateofbirth'].invalid" class="alert alert-danger">
            <div *ngIf="f['dateofbirth'].errors && f['dateofbirth'].errors['required']">Date of Birth is required</div>
                </div>
                    </div>
          
          
          <div class="form-group">
              <label>Gender</label><br>
            <label>
              <input type="radio" value="Male" formControlName="gender">
                <span> Male </span>
            </label>&nbsp;&nbsp;
            <label>
              <input type="radio" value="Female" formControlName="gender">
                <span> Female </span>
            </label>
            </div>
            <div class="flex flex-wrap -mx-3 ">
            <div class="form-group  md:w-1/2 px-3 mb-6 ">
                <label>Position you are applying for <span class="text-red-700">*</span> </label>
                <select class="form-control" type="text" formControlName="position" placeholder="Enter Job Position">
                    <option value="">Enter Position</option>
                    <option value="Web Designer">Web Designer</option>
                    <option value="Web Devloper">Web Devloper</option>
                    <option value="Full stack">Full Stack Devloper</option>
                    <option value="Android devloper">Android Devloper</option>
                  </select>
                <div *ngIf="f['position'].touched && f['position'].invalid" class="alert alert-danger">
                    <div *ngIf="f['position'].errors && f['position'].errors['required']">Job Position is required</div>
                        </div>
                 </div>

              <div class="form-group  md:w-1/2 px-3">
                <label>Salary requirements <span class="text-red-700">*</span></label>
                <input class="form-control" type="text" formControlName="salary" placeholder="Enter Salary">
                <div *ngIf="f['salary'].touched && f['salary'].invalid" class="alert alert-danger">
                    <div *ngIf="f['salary'].errors && f['salary'].errors['required']">Salary is required</div>
                        </div>
              </div>
            </div>

              <div class="form-group">
                <label>Mobile No <span class="text-red-700">*</span></label>
                <input class="form-control" type="phone" formControlName="contactNo" placeholder="(123-456-7890)">
                <div *ngIf="f['contactNo'].touched && f['contactNo'].invalid" class="alert alert-danger">
                    <div *ngIf="f['contactNo'].errors && f['contactNo'].errors['required']">Mobile No is required</div>
                    <div *ngIf="f['contactNo'].errors && f['contactNo'].errors['pattern']">Mobile should be 10 digit</div>

                        </div>
              </div>
              <div class="flex flex-wrap -mx-3  ">
              <div class="form-group md:w-1/3 px-3 mb-6 ">
                <label>City <span class="text-red-700" >*</span></label>
                       <input class="form-control" type="text" formControlName="city" placeholder="Enter city">
                <div *ngIf="f['city'].touched && f['city'].invalid" class="alert alert-danger">
                      <div *ngIf="f['city'].errors && f['city'].errors['required']">City is required</div>
                </div>
                </div>

                        <div class="form-group md:w-1/3 px-3 mb-6">
                          <label>State <span class="text-red-700" >*</span></label>
                           <input class="form-control" type="text" formControlName="state" placeholder="Enter State">
                       <div *ngIf="f['state'].touched && f['state'].invalid" class="alert alert-danger">
                           <div *ngIf="f['state'].errors && f['state'].errors['required']">State is required</div>
                      </div>
                        </div>
                  

                        <div class="form-group md:w-1/3 px-3 mb-6">
                          <label>Pincode <span class="text-red-700" >*</span></label>
                          <input class="form-control" type="text" formControlName="pincode" placeholder="Enter Pincode No">
                          <div *ngIf="f['pincode'].touched && f['pincode'].invalid" class="alert alert-danger">
                            <div *ngIf="f['pincode'].errors && f['pincode'].errors['required']">Pincode is required</div>
                            <!-- <div *ngIf="f['pincode'].errors && f['pincode'].errors['pattern']">Enter 6 Digit Pincode </div> -->
                        </div>
                      </div>
                    </div>
             <!-- [disabled]="employeeForm.invalid" -->
             <div class="flex flex-wrap -mx-3  ">
          <div class="form-group md:w-1/3 px-3 mb-6 ">
            <button class="flex-shrink-0 bg-teal-500 hover:bg-teal-700 border-teal-500 hover:border-teal-700 text-sm border-4 text-white py-1 px-2 rounded" [disabled]="!employeeForm.valid" type="submit"> Add Employee </button>
          </div>
          <div class="form-group md:w-1/3 px-2 mb-6 ">
            <button class="flex-shrink-0 bg-teal-500 hover:bg-teal-700 border-teal-500 hover:border-teal-700 text-sm border-4 text-white py-1 px-2 rounded" routerLink="/employee-list" type="submit"> Back </button>
          </div>
             </div>
        </form>
        
    </div>
  </div>